* {box-sizing: border-box;}
html {
  font-family: 'Permanent Marker', sans-serif;
  line-height: 1.15;
}

body {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  flex-direction: column;

   background-color: rgb(255, 255, 255);
   position:relative;
   line-height: 1.5;
   margin: 0 auto;
}


#primary-content {
  font-family: 'Permanent Marker', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  font-weight: lighter;
  text-align: center;
  padding: 2rem;
}

#primary-content::first-letter {
   font-size: 5rem;
}

header {
  background-color: rgb(182, 185, 186);
}



main {
  margin: 0 auto;
  width: 80%;
  font-family: Quicksand;
  padding-top: 2rem;
}



.todo-form {
    padding: 0 0.5rem;
    margin: 0 auto;
    margin-top: 5rem;
}



.task-input1 {
  border-radius: 10px;
  border: 0.07rem dotted blue;
  margin: 0 0 .5rem .5rem;
}

.task-assign {
  border-radius: 10px;
  border: 0.07rem dotted blue;
  margin: 0 0 .5rem .5rem;
}

.task-input-label {
  width: 1rem;
}


form {
  margin-left: 5%;
  padding: 1rem;
  border: 0.07rem dotted brown;
  border-radius: 10px;
  width: 90%;
}

label:after {
  content: "";
  display: table;
  margin-bottom: 1rem;
}

#list-tasks {
  margin-left: 5%;
  width: 90%;
}

@media(min-width: 700px){
  form {
    width: 38%;
    float: left;
  }

  #list-tasks {
    width:50%;
    float: right;
    margin-right: 1%;
  }
}


input[type="submit"] {
  align-self: center;
  padding: .6rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: .3rem;
  font-size: 1rem;
  color: white;
  width: 10rem;

}


.btn {
  position: relative;
  left: 30%;
  padding: .25rem;

  background: rgb(219, 189, 107);
  border-radius: .3rem;
  font-size: .75rem;
  color: black;
  width: 2rem;
}
